{% extends 'layout.html' %}
{% block title %}
Advertise of Category {{category.name}}
{% endblock %}

{% block content %}
<div class="container-sm">
    <h1>Advertise of Category {{category.name}}</h1>
    <a href="{{ url_for ('add_advertise' , category_id = category.id)}}" class="btn btn-success">
        <i class="fas fa-plus"></i>
        Add
    </a>
    <h1 class="display-2">Advertise :</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Advertise Id :</th>
                <th>Advertise Name :</th>
                <th>Budget :</th>
                <th>No. of Advertisement :</th>
                <th>Release Date :</th>
                <th>Action : </th>
            </tr>
        </thead>
        <tbody>
            {% for advertise in category.advertise %}
            <tr>


                <td>{{advertise.id}}</td>
                <td>{{advertise.name}}</td>
                <td>{{advertise.price}}</td>
                <td>{{advertise.quantity}}</td>
                <td>{{advertise.date}}</td>
                
                
                
                <td>
                    <!-- <a href="{{url_for('show_category',id=category.id)}}" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                        Show
                    </a> -->
                    <a href="{{url_for('edit_advertise',id=advertise.id)}}" class="btn btn-success">
                        <i class="fas fa-edit"></i>
                        Edit
                    </a>
                    <a href="{{url_for('delete_advertise',id=advertise.id)}}" class="btn btn-danger">
                        <i class="fas fa-trash"></i>
                        Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}